body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dataResult { 
  left: 50%;
}

.block-container {
  display: inline-block;
  margin: 10px;
  max-width: 200px; 
  max-height: 300px;
}

.block-image {
  max-width: 200px; 
  max-height: 300px;
}

.block-caption {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
}
